{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Text Formatting Example {% endblock %}

{% block content %}
    <h1 class="formatting-title">Example of Formatting tags</h1>

    <p>This text is <strong>important (strong)</strong>.</p>
    <p>This text is <em>emphasized (em)</em>.</p>
    <p>This text is <b>bold (b)</b>.</p>
    <p>This text is <i>italic (i)</i>.</p>
    <p>This text is <mark>highlighted (mark)</mark>.</p>
    <p>This is <sub>subscript (sub)</sub> and <sup>superscript (sup)</sup>.</p>
{% endblock %}